<div class="wrapper-sidebar">
  <header class="sidebar clearfix">
    <div class="site-info">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %} 
<!--      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>-->
      <h1 id="siteName" class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p  class="site-description">{{ site.description }}</p>
<!--      <p id="description" class="site-description"></p>-->
    </div>
  </header>

  <div class="navlist">
    <nav>
      {% for nav in site.navigation %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <a href="{{ nav.url }}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>

  <div class="wrapper-footer-desktop">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>
  <script>
    let divTyping = document.getElementById('siteName')
    let i = 0, timer = 0, str = 'AzureWind', errorStr = 'AzuraWind',step = 0;

    function typing () {
      //阶段一
      if (step === 0) {
        if (i <= errorStr.length) {
          if(i === 5){
            divTyping.innerHTML = errorStr.slice(0, i++) + '_'
            timer = setTimeout(typing, 500)
          }else{
            divTyping.innerHTML = errorStr.slice(0, i++) + '_'
            timer = setTimeout(typing, 200)
          }
        }else{
          step = 1;
          timer = setTimeout(typing, 2000)
        }
      }
      //阶段二
      if(step === 1){
        if(i >= 5){
          divTyping.innerHTML = errorStr.slice(0, i--) + '_'
          timer = setTimeout(typing, 200)
        }else{
          step = 2;
          timer = setTimeout(typing, 200)
        }
      }
      //阶段三
      if(step === 2){
        if(i <= str.length){
          divTyping.innerHTML = str.slice(0, i++) + '_'
          timer = setTimeout(typing, 500)
        }else {
          divTyping.innerHTML = str//结束打字,移除 _ 光标
          clearTimeout(timer)
        }
      }
    }

    typing()
  </script>
</div>